[defaults]
# fork = 10
remote_user = rocky
ansible_user = rocky

inventory = threat-hunting-lab-ELK/inventories/hosts.ini #  ELK-stack-sterss-test/inventories/hosts.ini

host_key_checking = False
ask_vault_pass = False
display_skipped_hosts = False
fact_caching_timeout = 1
